@{
    ViewData["Title"] = "Home Page";
}

@model List<GamesViewModel>

<table class="table table-striped">
        <thead>
        <th>Playtime</th>
        <th>DepartureTime</th>
        <th>Homegame</th>
        <th>Coach</th>
        <th>Washduty</th>
        <th>Drivers</th>
        <th>Opponent</th>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <partial model="game" name="_GameRow" />
            }
        </tbody>

    </table>

